<h1>Environment <%= env.id %></h1>
<div id="kontainer"></div>
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script src="/js/render.js"></script>
<hr/>
<dl>
    <dt>Time Step</dt>
    <dd><%= env.time_step %></dd>

    <dt>Lifeform Count</dt>
    <dd><%= env.lifeforms.count %></dd>

    <dt>Size</dt>
    <dd><%= sprintf("%s x %s", env.width, env.height) %></dd>
</dl>
<ul>
    <% lifeforms.each do |lf| %>
        <li>
            <b><%= lf.name %></b> <%= lf.to_s %>
        </li>
    <% end %>
</ul>
