<div id="kontainer"></div>
<script src="/js/konva.js"></script>
<script src="/js/render.js"></script>
<script>
    let env_width = <%= env.width %>;
    let env_height = <%= env.height %>;
    var width = window.innerWidth < window.innerHeight ? window.innerWidth : window.innerHeight;
    width -= 75;
    // number of pixels per unit distance in environment
    var zf = 1.0 * width / env_width
    var height = env_height * zf
    let r = new Render("kontainer", width, height, zf);
    r.addLifeforms(<%= lfs_json %>);
    r.render();
</script>
<form action="/env/<%= env.id %>" method="post">
  <label for="steps">Steps:</label><br>
  <input type="text" id="steps" name="steps" value="<%= steps %>">
  <input type="submit" value="Run">
</form> 